<div class="container">
  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Alakazam.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Aerodactyl.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Abra.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Arbok.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Arcanine.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Articuno.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Beedrill.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Bellsprout.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Blastoise.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Bulbasaur.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Butterfree.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Caterpie.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Chansey.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Charizard.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Charmander.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Charmeleon.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Clefable.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Clefairy.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Cloyster.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Cubone.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Dewgong.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Diglett.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Ditto.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Dodrio.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Doduo.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Dragonair.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Dragonite.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Dratini.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Drowzee.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Dugtrio.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Eevee.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Ekans.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Electabuzz.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Electrode.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Exeggcute.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Exeggutor.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Farfetch.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Fearow.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Flareon.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Gastly.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Gengar.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Geodude.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Gloom.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Golbat.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Goldeen.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Golduck.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Golem.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Graveler.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Grimer.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Growlithe.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Gyarados.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Haunter.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Hitmonchan.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Hitmonlee.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Horsea.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Hypno.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Ivysaur.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Jigglypuff.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Jolteon.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Jynx.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Kabuto.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Kabutops.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Kadabra.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Kakuna.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Kangaskhan.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Kingler.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Koffing.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Krabby.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Lapras.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Lickitung.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Machamp.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Machoke.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Machop.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Magikarp.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Magmar.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Magnemite.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Magneton.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Mankey.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Marowak.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Meowth.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Metapod.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Mew.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Mewtwo.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Moltres.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Mr.Mime.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Muk.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Nidoking.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Nidoqueen.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/NidoranF.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Nidorina.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Nidorino.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Ninetales.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Oddish.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Omanyte.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Omastar.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Onix.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Paras.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Parasect.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Persian.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Pidgeot.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Pidgeotto.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Pidgey.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Pikachu.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Pinsir.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Poliwag.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Poliwhirl.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Poliwrath.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Ponyta.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Porygon.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Primeape.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Psyduck.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Raichu.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Rapidash.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Raticate.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Rattata.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Rhydon.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Rhyhorn.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Sandshrew.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Sandslash.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Scyther.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Seadra.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Seaking.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Seel.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Shellder.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Slowbro.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Slowpoke.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Snorlax.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Spearow.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Squirtle.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Starmie.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Staryu.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Tangela.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Tauros.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Tentacool.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Tentacruel.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Vaporeon.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Venomoth.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Venonat.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Venusaur.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Victreebel.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Vileplume.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Voltorb.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Vulpix.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Wartortle.png"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Weedle.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Weepinbell.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Weezing.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Wigglytuff.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Zapdos.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/pokemon/Zubat.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/entrenadores/Brock.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/entrenadores/Misty.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/entrenadores/Jessie.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/entrenadores/James.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/entrenadores/Tracey.png"></div>
    <div class="col-sm-1"><img class="img-responsive" src="/imagenes/entrenadores/Ash.png"></div>
  </div>

</div>
