<br>

<div row>
  <div class="col-sm-1"> </div>
  <div class="jumbotron col-sm-4" style="background-color: rgba(0, 0, 0, .8); color: yellow;">
    <h2>ENTRENADOR</h2>
    <p>
      <a class="btn btn-primary btn-lg" href="/CrearEntrenador" role="button" style="background-color: rgba(0, 0, 0, .8); color: yellow;">___CREAR ENTRENADOR___</a>
      <a class="btn btn-primary btn-lg" href="/ListarEntrenadores" role="button" style="background-color: rgba(0, 0, 0, .8); color: yellow;">_LISTADO ENTRENADORES_</a>
    </p>
  </div>

  <div class="col-sm-1"> </div>
  <div class="jumbotron col-sm-4" style="background-color: rgba(0, 0, 0, .5); color: yellow;">
    <h2>POKÉMON</h2>
    <p>
      <a class="btn btn-primary btn-lg" href="/CrearPokemon" role="button" style="background-color: rgba(0, 0, 0, .8); color: yellow;" >_____CRER POKÉMON_____ </a>
      <a class="btn btn-primary btn-lg" href="/ListarPokemon" role="button" style="background-color: rgba(0, 0, 0, .8); color: yellow;">___LISTADO POKÉMONS___</a>
    </p>
  </div>
  <div class="col-sm-1"> </div>

</div>
